h1
{
	color: darkred;
}

body
{background-color: black;}

#carte
{
	width: 800px;
	margin: 0 auto;
	background-color: darkgrey;
	text-align: center;
	align-content: center;

}

ul li
{
	list-style-type: none;
	
}